<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{flagment/user/userHead :: userHeadFragment}"></div>
<!-- Theme style -->
<!-- <link rel="stylesheet" href="../admin/dist/css/userIndex.css"> -->

<link rel="stylesheet" href="/admin/dist/css/findproduct.css">
</head>
<body>
	<div th:replace="~{flagment/user/userHeader :: userHeaderFragment}"></div>
	<main>
		<form action="/filter/price">
			<div class="container">
				<div class="text-dark content_price" style="margin-top: 10px;">
					<span class="container_main_middle-contten"
						style="color: #2A62B9; margin-left: -25px; font-size: 20px;">Tìm
						Kiếm "<i style="color: #2A62B9;"
						th:text="${session.keywordsSearch}"></i>"
					</span>
				</div>
			</div>
			<div class="container container_main_middle pb-2 bg-white">
				<div class="row">
					<div class="col-md-2 col-3 filter-textprodcut"
						style="height: 20px;">
						<a href="" style="font-weight: bold; font-size: 20px;">Lọc </a>
					</div>
					<div class="col-md-3 col-3 filter-textprodcut row optionbox"
						style="height: 20px; color: #2A62B9;">
						<select class="form-select form-select-sm" name="sortprice"
							onchange="this.form.submit()"
							aria-label=".form-select-sm example">
							<option class="text-dark" selected>Giá (Mặc định)</option>
							<option class=" text-dark" value="ASC">Tăng dần</option>
							<option class=" text-dark" value="DESC">Giảm dần</option>
						</select>
					</div>
					<div class="col filter-textprodcut">
						<input type="radio" class="btn-check" name="options-outlined"
							id="danger-outlined" value="BAN_CHAY" autocomplete="off"
							onchange="filterProducts()"> <label
							class="btn btn-outline-danger" for="danger-outlined">BÁN
							CHẠY</label>
					</div>
					<div class="col filter-textprodcut">
						<input type="radio" class="btn-check" name="options-outlined"
							id="success-outlined" value="DEVEX_MALL" autocomplete="off"
							onchange="filterProducts()"> <label
							class="btn btn-outline-success" for="success-outlined">DEVEX
							MALL</label>
					</div>

				</div>


			</div>
			<div class="container container_main_middle mt-3 pb-5 bg-white">
				<div class="row d-flex px-3">
					<div class="col-6 col-md-4 col-lg-3 col-xl-2 pt-2"
						th:each="product : ${products}">
						<a th:href="@{|/details/${product.id}|}"
							class="text-decoration-none">
							<div class="card pb-2" style="width: 10.8rem;">
								<div class="icon-sale text-center pl-5 pr-5 p-1">HOT SALE</div>
								<div class=" hot-sale text-center p-1"
									th:if="${#numbers.formatDecimal(100 - ((product.productVariants[0].priceSale / product.productVariants[0].price) * 100),0,'POINT', 0, 'COMMA')} > 0">
									Giảm <span
										th:text="${#numbers.formatDecimal(100 - ((product.productVariants[0].priceSale / product.productVariants[0].price) * 100),0,'POINT', 0, 'COMMA')}"></span>
									%
								</div>
								<img
									th:src="@{|/img/product/${product.sellerProduct.username}/${product.id}/${product.imageProducts[0].name}|}"
									class="img-fluid w-100 p-0" th:alt="${product.name}">
								<div class="card-body" style="padding: 5px;">
									<div class="card-title tensp text-left" style="height: 40px;"
										th:text="${product.name}" th:title="${product.name}"></div>
									<div id="price-box text-left row">
										<div class="price col-6 m-0" style="text-decoration: none;">
											<span style="color: #ff0821bb;">₫</span><strong class="fs-10"
												th:text="${#numbers.formatDecimal(product.productVariants[0].priceSale, 0 , 'POINT', 0, 'COMMA')}"
												style="color: #ff0821bb; font-weight: 600;">8,490,000</strong>
										</div>
										<div class="price col-6 m-0" style="text-decoration: none;">
											<strike class="fs-11"
												th:text="${#numbers.formatDecimal(product.productVariants[0].price, 0 , 'POINT', 0, 'COMMA')}"
												style="color: #3f3d3d; font-weight: 100;"><span
												style="color: #3f3d3d;">₫</span>8,490,000</strike>
										</div>
									</div>
									<div class="icon-star text-left" style="text-decoration: none;">
										<i class="icon-flash text-red"></i> <i class="bi bi-star"></i>
										<i class="bi bi-star"></i> <i class="bi bi-star"></i> <i
											class="bi bi-star"></i> <i class="bi bi-star"></i>
										<p class="text-info m-0">
											đã bán <i class="text-info m-0"
												th:text="${product.soldCount}"></i>
										</p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="text-dark content_price text-center">
					<span class="container_main_middle-contten "
						style="color: #2A62B9; margin-left: -25px; font-size: 18px;">Xem
						Thêm ....</span>
				</div>
			</div>
		</form>
	</main>
	<footer>
		<!-- place footer here -->

		<div class="container-fluid mt-3 "
			style="background: linear-gradient(90deg, rgba(25, 38, 186, 1) 0%, rgba(57, 151, 184, 1) 54%, rgba(0, 212, 255, 1) 100%);">
			<div class="container ">
				<div class="row  ">
					<div class="col-xs-6 col-md-4 col-lg-2 mt-2 ">
						<span class="footer_title_content"> Hỗ Trợ Khách Khàng</span>
						<ul class="list_customers"
							style="list-style-type: none; padding: 0;">

							<li><a href="" class="text-decoration-none text-light">Các
									Câu Hỏi Thường Gặp</a></li>
							<li><a href="" class="text-decoration-none text-light">Gửi
									Yêu Cầu Hỗ Trợ</a></li>
							<li><a href="" class="text-decoration-none text-light">Hướng
									Dẫn Đặt Hàng</a></li>
							<li><a href="" class="text-decoration-none text-light">Phương
									thức vận chuyển</a></li>
							<li><a href="" class="text-decoration-none text-light">Chính
									Sách Đổi Trả</a></li>
							<li><a href="" class="text-decoration-none text-light">Hướng
									Dẫn Trả Góp</a></li>


						</ul>


					</div>
					<div class="col-xs-6 col-md-4 col-lg-2 mt-2">
						<span class="footer_title_content"> Về Chúng Tôi DEVEX</span>
						<ul class="list_customers"
							style="list-style-type: none; padding: 0;">

							<li><a href="" class="text-decoration-none text-light">Giới
									Thiệu</a></li>
							<li><a href="" class="text-decoration-none text-light">Tuyển
									Dụng</a></li>
							<li><a href="" class="text-decoration-none text-light">Chính
									Sách Bảo Mật Và Thanh Toán</a></li>
							<li><a href="" class="text-decoration-none text-light">Bán
									Hàng Doanh Nghiệp</a></li>
							<li><a href="" class="text-decoration-none text-light">Điều
									Kiện Vận Chuyển</a></li>


						</ul>


					</div>
					<div class="col-xs-6 col-md-4 col-lg-2 mt-2">
						<span class="footer_title_content"> Hợp Tác Và Liên Kết</span>
						<ul class="list_customers"
							style="list-style-type: none; padding: 0;">

							<li><a href="" class="text-decoration-none text-light">Hỗ
									Trợ Khách Khàng</a></li>
							<li><a href="" class="text-decoration-none text-light">Hỗ
									Trợ Khách Khàng</a></li>
							<li><a href="" class="text-decoration-none text-light">Hỗ
									Trợ Khách Khàng</a></li>
							<li><a href="" class="text-decoration-none text-light">Hỗ
									Trợ Khách Khàng</a></li>


						</ul>


					</div>
					<div class="col-xs-6 col-md-4 col-lg-3 mt-2">
						<span class="footer_title_content"> Giao Hàng Và Các Phương
							Thức Thanh Toán</span>
						<ul class="list_customers"
							style="list-style-type: none; padding: 0;">

							<li><a href="" class="text-decoration-none text-light">Hỗ
									Trợ Khách Khàng</a></li>



						</ul>


					</div>


					<div class="col-xs-6 col-md-4 col-lg-3 mt-2">
						<h3 class="footer_title_content">HOTLINE: **********</h3>
						<ul class="list-customers"
							style="list-style-type: none; padding: 0;">

						</ul>
					</div>

				</div>

				<div class="content_footer ">
					<div class="row ">
						<div class="col-12">
							<div class="row">
								<span class="text-center   content_footer-text">Trụ sở
									chính: Tòa nhà Viettel, Số 285, đường Cách Mạng Tháng 8, phường
									12, quận 10, Thành phố Hồ Chí Minh DEVEX nhận đặt hàng trực
									tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực
									tiếp tại văn phòng hoặc trung tâm xử lý đơn hàng </span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="row">
								<span class="text-center content_footer-text">Giấy chứng
									nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư
									Thành phố Hồ Chí Minh cấp lần đầu ngày 06/01/2010 và sửa đổi
									lần thứ 23 ngày 14/02/2022 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="row ">
								<span class="text-center content_footer-text"> © 2022 -
									Bản quyền của Công ty TNHH DEVEX</span>

							</div>
						</div>
					</div>
				</div>


			</div>

		</div>

	</footer>



	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>
	<!--slick slide-->

	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="/admin/dist/js/user/userIndex.js"></script>
	<script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/admin/dist/js/adminlte.min.js"></script>
	<script>
		function filterProducts() {
			var selectedValue = document
					.querySelector('input[name="options-outlined"]:checked').value;

			// Gửi yêu cầu POST tới Spring Boot
			var form = document.createElement("form");
			form.method = "POST";
			form.action = "/filter/ban-chay";

			var input = document.createElement("input");
			input.type = "hidden";
			input.name = "filterValue";
			input.value = selectedValue;

			form.appendChild(input);
			document.body.appendChild(form);

			form.submit();
		}
	</script>
</body>
</html>