<!-- @format -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<div th:replace="~{flagment/account/head :: headFragment}"></div>
<!-- Theme style -->
<link rel="stylesheet" href="/css/user/userIndex.css" />
</script>
<script th:src="@{/js/cart-ctrl.js}"></script>
</head>
<style>
.fixed-picture {
	position: relative;
	width: 100px;
	/* Đặt kích thước khung theo ý muốn */
	height: 100px;
	/* Đặt kích thước khung theo ý muốn */
	overflow: hidden;
	left: 50%;
	/* Di chuyển container sang trái 50% */
	transform: translateX(-50%);
	/* Di chuyển lại 50% theo chiều X */
}

.fixed-picture img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
</style>
<style>
body {
	font-family: "Poppins", sans-serif;
	background-color: #f5f5f5;
}

/*header top*/
header a.nav-link {
	color: white;
	font-weight: 270;
	padding: 0 0 0 20px !important;
	font-size: 13px;
}

header a.nav-link:hover {
	color: white;
	font-weight: 600 !important;
}

.header-inf:hover {
	transition: 10s all;
	height: 35px;
	background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%,
		rgba(57, 151, 184, 1) 36%, rgba(25, 38, 186, 1) 62%);
}

.header-inf {
	height: 35px;
	background: linear-gradient(90deg, rgba(25, 38, 186, 1) 0%,
		rgba(57, 151, 184, 1) 54%, rgba(0, 212, 255, 1) 100%);
}

.header-inf * {
	background-color: transparent;
	color: white;
	font-weight: 400 !important;
}

.header-inf a {
	color: white;
}

/* header>.container-fluid:hover {} */
/*header mid*/
.container_mid {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img_logo {
	width: 7.5rem;
	height: 3.4375rem;
	margin-left: 40px;
	margin-top: 5px;
}

.list_type ul {
	max-height: 360px;
	min-height: 360px;
	overflow-y: scroll;
	position: relative;
	top: -2rem;
}

.list_type ul li {
	max-width: 7.5rem;
}

* {
	scrollbar-width: thin;
}

/* Tùy chỉnh thanh cuộn trên Chrome, Edge, và Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: white;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(90, 89, 89);
	border-radius: 20px;
	border: 3px solid white;
}
</style>

<body>
	<header>
		<div th:replace="~{flagment/user/userHeader :: userHeaderFragment}"></div>
	</header>
	<div class="container">
		<div class="wall-header-offset p-1"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="m-0">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="text-secondary">Đơn hàng đã mua</h1>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="">
					<div class="row">
						<!-- /.col -->
						<div class="col-md-12">
							<div class="card bg-transparent border-0"
								style="box-shadow: none;">
								<div class="card-header p-2 bg-white">
									<ul class="nav nav-pills">
										<li class="nav-item"><a class="nav-link active"
											href="#all-order" data-toggle="tab">Tất cả</a></li>
										<li class="nav-item"><a class="nav-link" href="#paying"
											data-toggle="tab">Chờ thanh toán</a></li>
										<li class="nav-item"><a class="nav-link" href="#shiping"
											data-toggle="tab">Vận chuyển</a></li>
										<li class="nav-item"><a class="nav-link" href="#success"
											data-toggle="tab">Hoàn thành</a></li>
										<li class="nav-item"><a class="nav-link" href="#cancel"
											data-toggle="tab">Đã hủy</a></li>
										<li class="nav-item"><a class="nav-link"
											href="#return-refund" data-toggle="tab">Trả hàng/Hoàn
												tiền</a></li>
									</ul>
								</div>
								<!-- /.card-header -->
								<div class="card-body border-0"
									style="background-color: transparent;">
									<div class="tab-content ">
										<div class="tab-pane active bg-transparent" id="all-order">


											<div class="container_main_middle bg-white mb-4"
												th:each="order: ${allOrder}" style="padding: 20px;">
												<!-- Lặp qua các shop và sản phẩm -->
												<div>
												<div th:each="shop : ${order.key}" >
													<div
														class="d-flex justify-content-between gap-3 align-items-center px-3 pt-1">
														<button
															class="d-flex justify-content-start gap-3 align-items-center border-0 bg-transparent"
															type="button">
															<div class="">
																<img alt="Avatar Shop"
															th:src="@{|/img/account/${shop.avt}}"
																	class="rounded-circle img-fluid p-0"
																	style="width: 2.5rem; height: auto;" />

															</div>
															<!-- Tên shop -->
															<p class="d-flex align-items-center m-0 ng-binding" th:text="${shop.shopName}">
															</p>
														</button>
														<div
															class="text-center d-flex align-items-center font-italic">
															<p class="d-flex align-items-center m-0 ng-binding">Ngày
																tạo:</p>
															<p class="d-flex align-items-center m-0 ng-binding"
																th:text="${#dates.format(shop.createdDay, 'dd/MM/yyyy')}"></p>
														</div>
														<!--CART -->
														<div class="border-top bg-light">
															<a th:href="@{|/orderDetail/${shop.orderID}|}" class="text-white fw-bold">
																<div class="text-white fw-bold"
																	 style="background-color: #007bff80;">
																	>>>> Chi tiết
																</div>
															</a>
														</div>
														<!--END CART -->
													</div>
													<!-- Lặp qua các sản phẩm trong cùng một shop -->
														<div class="row px-3 pb-3 pt-2"  th:each="orderDetail: ${order.value}">
															<div class="col-md-12">
																<!--CART -->
																<div class="border-top bg-light">
																	<div class="card-body p-2 bg-white">
																		<div
																			class="row d-flex justify-content-between align-items-center">
																			<div
																				class="col-md-2 col-lg-2 col-xl-2 row d-flex justify-content-between align-items-center">
																				<a class="p-0 col-12"
																					th:href="@{|/details/${orderDetail.productVariant.product.id}}">
																					<img style="height: auto"
																					th:src="@{|/img/product/${orderDetail.productVariant.product.sellerProduct.username}/${orderDetail.productVariant.product.id}/${orderDetail.productVariant.product.imageProducts[0].name}}"
																					class="img-fluid rounded-3" alt="Cotton T-shirt" />
																				</a>
																			</div>
																			<div class="col-md-3 col-lg-3 col-xl-4">
																				<p
																					th:text="${orderDetail.productVariant.product.name}"
																					th:title="${orderDetail.productVariant.product.name}"
																					class="fw-normal mb-2 card-title tensp ng-binding fs-6">
																				</p>
																				<div
																					class="bg-secondary p-1 mb-2 w-100 d-flex justify-content-center">
																					<div class="m-0 px-3" ng-if="item.size != ''">
																						Size: <span class="text-white ng-binding">XL
																						</span>
																					</div>
																					<div class="m-0 px-3">
																						Color: <span class="text-white ng-binding">Hồng</span>
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-6 ">
																						<span class="row-1" style="color: #3f3d3d">₫</span><s
																							class="ng-binding row-10"
																							th:text="${#numbers.formatDecimal(orderDetail.productVariant.price, 0 , 'POINT', 0, 'COMMA')}">giá
																							gốc ₫</s>
																					</div>
																					<div class="col-6 ">
																						<span class="row-1 text-danger"
																							style="color: #3f3d3d">₫</span> <span
																							class="text-danger ng-binding row-11"
																							th:text="${#numbers.formatDecimal(orderDetail.productVariant.priceSale, 0 , 'POINT', 0, 'COMMA')}">
																							giá sale</span>
																					</div>
																				</div>

																			</div>
																			<div class="col-md-4 col-lg-4 col-xl-2 d-flex fs-7">
																				Số lượng: x
																				<div class="fs-7"
																					th:text="${orderDetail.quantity}">1</div>
																			</div>
																			<div
																				class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 fs-6">
																				<span class="row-1 text-danger fw-bold"
																					style="color: #3f3d3d">₫</span>
																				<span
																					th:text="${#numbers.formatDecimal({orderDetail.quantity * orderDetail.productVariant.priceSale}, 0 , 'POINT', 0, 'COMMA')}"
																					class="mb-0 text-danger fw-bold ng-binding">100.100 VNĐ</span>
																			</div>
																		</div>
																	</div>
																</div>
																<!--END CART -->

															</div>
															<div
																class="row-12 d-flex justify-content-end align-items-between mt-3">
																<div class="col-6 row">
																	<p class="text-primary fw-italic col-5 fs-6 p-0" th:text="${orderDetail.status.name}">
																		</p>
																</div>
																<div class="btn-group col-6">
																	<button class="btn btn-primary start">
																		<span>Đã nhận hàng</span>
																	</button>
																	<button data-dz-remove class="btn btn-warning cancel">
																		<span>Đặt lại</span>
																	</button>
																	<button data-dz-remove class="btn btn-danger delete">
																		<span>Hủy đơn</span>
																	</button>
																</div>
															</div>
														</div>
												</div>
												</div>
											</div>
										</div>
										<!-- /.tab-pane -->
										<div class="tab-pane" id="paying"></div>
										<!-- /.tab-pane -->
										<div class="tab-pane" id="shiping"></div>
										<!-- /.tab-pane -->
										<div class="tab-pane" id="success"></div>
										<!-- /.tab-pane -->
										<div class="tab-pane" id="cancel"></div>
										<!-- /.tab-pane -->
										<div class="tab-pane" id="return-refund"></div>
									</div>
									<!-- /.tab-content -->
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- END CONTENT-MEN-SHOES -->

	</div>


	<footer class="mt-3">
		<!-- place footer here -->
		<div th:replace="~{flagment/user/userFooter :: userFooterFragment}"></div>
	</footer>



	<script>
		// Khi người dùng chọn ảnh, xử lý sự kiện change của input file
		document.getElementById("avatarInput").addEventListener(
				"change",
				function(event) {
					const file = event.target.files[0]; // Lấy file ảnh từ input

					if (file) {
						// Gắn tên tệp vào input ẩn có id="avatar-hide"
						document.getElementById("avatar-hide").setAttribute(
								"value", file.name);

						// (Tùy chọn) Hiển thị ảnh đã chọn lên trang web (nếu muốn)
						const reader = new FileReader();
						reader.onload = function() {
							const imageDataURL = reader.result;
							document.getElementById("avatar").setAttribute(
									"src", imageDataURL);
						};
						reader.readAsDataURL(file);
					}
				});
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<!-- 	<div th:replace="~{flagment/account/footLink :: footLinkFragment}"></div> -->
	<script src=" /admin/dist/js/user/userIndex.js"></script>
</body>

</html>