<html xmlns:th="http://www.thymeleaf.org">
<!-- !HEADER -->
<div th:fragment="headerFragment" class="container-fluid header-inf">
	<div class="container ">
		<div class="row">
			<div class="menu-bar" style="color: #fff; margin: 0; padding: 0;">
				<nav class="navbar float-end navbar-expand-lg navbar-light"
					style="height: 35px">

					<div class="collapse navbar-collapse  text-end "
						id="navbarNavDropdown">
						<ul class="text-end navbar-nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="#">Hỗ trợ
									dịch vụ</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Bán
									hàng</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Sản
									phẩm đã xem</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Kiếu
									nại</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Tra
									cứu đơn hàng</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Tuyển
									dụng</a></li>

							<li class="nav-item"><a class="nav-link" href="#">Đăng
									nhập</a></li>

						</ul>
					</div>

				</nav>
				<!-- hết thanh vav -->
			</div>

		</div>

	</div>

</div>
<div class="container container_mid   mt-3" style="height: 500px;">
	<div class="row mt-2 " style="height: 50px;">
		<div class="col-md-2 ">
			<img class="img-fluid img_logo" src=" /admin/dist/img/DEVE2.jpg" alt>
		</div>
		<div class="col-md-8 ">
			<div class="search-box pt-2 order-4 order-xl-3">
				<form>
					<div class="input-group no-shadow">
						<input type="text" class=" form-control"
							placeholder="Bạn cần tìm gì hôm nay ?" name="keyword"
							ng-model="find"
							style="height: 40px; border-radius: 15px; font-weight: bold; font-size: 13px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border: 2px gray;">

						<span class="position-relative "
							style="right: 2.5rem; z-index: 100; margin-top: -2px; width: 0px;">
							<a href="#" style="color: #fff; font-size: 16px;"> <i
								class=" fa-solid fa-magnifying-glass fs-3 mt-2 text-dark "></i>
						</a>
						</span>

					</div>
				</form>
			</div>
		</div>
		<div class="col-md-2 ">
			<div class="row" style="margin-left: 10px;">
				<div class="col-6 pt-1">
					<a href> <i class="bi bi-cart3 fs-2 text-dark fw-bold "></i>
					</a>
				</div>
				<div class="col-6 pt-1">
					<a href> <i class="bi bi-person-circle fs-2 text-dark fw-bold "></i>
					</a>
				</div>
			</div>

		</div>

	</div>
</div>
<!-- !END HEADER -->