<!-- Main Sidebar Container -->
<aside
        class="main-sidebar sidebar-light-primary bg-light elevation-4 text-sm"
        th:fragment="sellerMainSidebarFragment">
    <!-- Brand Logo -->
    <a href="/seller/home" class="brand-link font-weight-bold"> <img
            src="/img/banner/LogoDUAn.png" alt="AdminLTE Logo"
            class="brand-image ml-0"> <span
            class="brand-text font-weight-bold ml-2">DEVELOP EXPRESS</span>
    </a>

    <!-- Sidebar -->

    <!-- /.sidebar -->
</aside>
